.img-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 200px;
    height: 250px;

}

.h1-home {
    display: flex;
    justify-content: center;
    color: white;
}

.home-img {
    background-image: url(../src/assets/motorcycle.jpg);
    padding-bottom: 20rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: '100vw';
    height: '100vh'
}

.p-home {
    color: white;
    display: flex;
    justify-content: center;
}

.contact-grid {
    display: grid;
    justify-content: space-evenly;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
}

.grid-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }
  
  
  .grid-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
  }
  
  
  
  .grid-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
  }
  
  
  .grid-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
  }

.contact-text {
    color: white;
    display: flex;
    justify-content: center;
}

.list {
    color: white;
}
